/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado */
header {
    background-color: #ff0000;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Contenedor de la navegación */
.nav-container {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

/* Navegación */
nav {
    text-align: center;
}

nav a {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    position: relative;
    transition: color 0.3s;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #ff0000;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #000000;
}

/* Contenido principal */
main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.main-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

main h2 {
    color: #000000;
    margin-bottom: 10px;
}

main p {
    line-height: 1.6;
    font-size: 1.1em;
    margin-bottom: 15px;
}

/* Contenedor de imagen */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
    footer {
        font-size: 0.8em;
    }
}
